* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 7rem;
}

a {
  text-decoration: none;
}

a,
button {
  font-size: 1.5rem;
}

.logo {
  font-family: "Open Sans", sans-serif;
}

.main-header {
  width: 97%;
  margin: auto;
  height: 5vh;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.nav a {
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  text-align: center;
  flex-wrap: wrap;
  margin-right: 1rem;
}

.nav a:hover {
  text-decoration: underline;
}

.nav .button-link {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.nav button {
  background: #1a73e8;
  color: white;
  margin: 1rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.5rem;
}

.fa-ellipsis-h {
  color: #5f6368;
  border-radius: 0.3rem;
  padding: 1rem;
  border-radius: 2rem;
}

.fa-ellipsis-h:hover {
  opacity: 1;
  background: #b3bac2;
}

main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  padding: 2rem;
}

.search {
  position: relative;
  margin-top: 2rem;
}

.search-bar {
  padding: 1rem 3.5rem;
  width: 29vw;
  border-radius: 2.4rem;
  border: solid 0.5px #dfe1e5;
  font-size: 1.7rem;
  outline: none;
}

.search-bar:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.search-icon {
  font-size: 1.5rem;
  color: gray;
  position: absolute;
  top: 32%;
  left: 2%;
}

.mic-icon {
  position: absolute;
  font-size: 1.5rem;
  color: #4285f4;
  top: 32%;
  right: 2%;
}

.keyboard-icon {
  display: none;
}

.buttons {
  margin: 2rem;
}

.buttons button {
  margin: 0.5rem;
  padding: 1rem 3rem;
  border: none;
  background: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

footer {
  height: 5vh;
  background: #f2f2f2;
}

footer .link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 97%;
  margin: auto;
  height: 100%;
}

.links-left,
.links-right {
  margin: 1rem;
}

.links-left a,
.links-right a {
  color: #70757a;
  margin-left: 1.5rem;
}

.links-left a:hover,
.links-right a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 45%;
  }
  .logo-wrapper {
    width: 60%;
    text-align: center;
  }
  .logo {
    width: 60%;
  }
  .search-bar {
    width: 80vw;
  }
  .mic-icon {
    display: none;
  }
  .keyboard-icon {
    display: block;
    position: absolute;
    font-size: 1.5rem;
    color: #4285f4;
    top: 32%;
    right: 2%;
    color: gray;
  }
  .links-left a,
  .links-right a {
    font-size: 1.1rem;
    margin-left: 1rem;
  }
  .links-left,
  .links-right {
    margin: 0;
  }
  .links-left a,
  .links-right a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 321px) {
  .links-left a,
  .links-right a {
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 240px) {
  html {
    font-size: 35%;
  }
}

@media screen and (min-width: 418px) and (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .logo-wrapper {
    width: 50%;
    text-align: center;
  }
  .logo {
    width: 50%;
  }
  .search-bar {
    width: 60vw;
  }
}
/*# sourceMappingURL=style.css.map */